* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body.dark {
  --g-txt-color: #fff;
  --g-focus-border: rgb(80, 158, 255);
}

body:not(.dark) {
  --g-txt-color: #000;

  --g-focus-border: rgb(80, 158, 255);
  --g-input-text-color: #fff;
}

body {
  // 主题色
  --c: #509eff;
  // 原始字体颜色
  --oc: #505461;
  // 原始背景色
  --ob: #f3f3f3;
  // 响应字体颜色
  --ac: #fff;
  // 相应背景色
  --ab: #509eff;

  // 默认高度
  --h: 32px;

  --control-height: 32px;
  --control-border-color: #d9d9d9;
  --control-border-radius: 4px;
  --control-text-color: var(--g-input-text-color);
  --control-focus-border-color: var(--g-focus-border);
}

.au-control {
  height: var(--control-height);
  line-height: var(--control-height);
  padding: 4px 11px;
  border: none;
  border-radius: var(--control-border-radius);
  outline: none;
  background: transparent;

  color: var(--control-text-color);
  box-shadow: 0 0 0 1px var(--control-border-color) inset;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 0 0 1px var(--control-focus-border-color) inset;
  }
}