body {
  background: #fafafa;
  /* background: rgb(59, 59, 59); */
}

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  max-height: 100vh;
}

.main {
  position: relative;
  width: 100%;
  /* padding: 10px 24px; */
}