.au-menu {
  padding: 0 8px;

  a {
    display: block;
    color: var(--oc);
    width: 100%;
    height: var(--h);
    line-height: var(--h);
    padding: 0 14px;
    font-weight: bold;
    text-align: start;
    margin-bottom: 6px;
    border-radius: 8px;

    &.active,
    &:focus,
    &:active,
    &:hover {
      color: var(--ac);
      background-color: var(--ab);
    }

  }
}